# Haskell / Cabal build artefacts
dist-newstyle/
.stack-work/
*.hi
*.o

# Generated LaTeX section files (produced by cv-builder)
sections/header.tex
sections/summary.tex
sections/education.tex
sections/experience.tex
sections/publications.tex
sections/volunteering.tex
sections/awards.tex
sections/certifications.tex

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# Editor files
.DS_Store
*~
\#*\#
