{{=<< >>=}}
\resumeSubHeadingListStart
<<#awards>>
  \resumeProjectHeading
    {\textbf{<<& title>>} $|$ {\color{dark-grey}\small <<& awarder>>}}{<<& date>>}
  \resumeItemListStart
    \resumeItem{<<& summary>>}
  \resumeItemListEnd
<</awards>>
\resumeSubHeadingListEnd
