{{=<< >>=}}
\resumeSubHeadingListStart
<<#certificates>>
  \resumeProjectHeading
    {\textbf{<<& name>>} $|$ {\color{dark-grey}\small <<& issuer>>}}{<<& date>>}
<</certificates>>
\resumeSubHeadingListEnd
