{{=<< >>=}}
<<#education>>
\textbf{\href{<<& url>>}{<<& institution>>}} \hfill <<& location>>\\
\begin{itemize}[leftmargin=*,itemsep=0pt,topsep=2pt]
<<#degrees>>
  \item <<& .>>
<</degrees>>
<<#highlights>>
  \item <<& .>>
<</highlights>>
\end{itemize}
<</education>>
