{{=<< >>=}}
\resumeSubHeadingListStart
<<#educationGroups>>
  \resumeSubheading
    {\href{<<& url>>}{<<& institution>>}}{<<& location>>}
    {<<& firstLabel>>}{<<& firstDate>>}
<<#otherDegrees>>
  \resumeSubSubheading
    {<<& label>>}{<<& date>>}
<</otherDegrees>>
<</educationGroups>>
\resumeSubHeadingListEnd
