{{=<< >>=}}
\resumeSubHeadingListStart
<<#educationGroups>>
  \resumeSubheading
    {\href{<<& url>>}{<<& institution>>}}{<<& location>>}
    {<<& firstLabel>>}{<<& firstDate>>}
<<#hasHighlights>>
  \resumeItemListStart
<<#firstHighlights>>
    \resumeItem{<<& .>>}
<</firstHighlights>>
  \resumeItemListEnd
<</hasHighlights>>
<<#otherDegrees>>
  \resumeSubSubheading
    {<<& label>>}{<<& date>>}
<</otherDegrees>>
<</educationGroups>>
\resumeSubHeadingListEnd
