{{=<< >>=}}
\resumeSubHeadingListStart
<<#work>>
  \resumeSubheading
    {\href{<<& url>>}{<<& name>>}<<#note>> {\footnotesize(<<& .>>)}<</note>>}{<<& startDate>> -- <<& endDate>>}
    {<<& position>>}{<<& location>>}
  \resumeItemListStart
<<#highlights>>
    \resumeItem{<<& .>>}
<</highlights>>
  \resumeItemListEnd
<</work>>
\resumeSubHeadingListEnd
