{{=<< >>=}}
<<#work>>
\expEntry{<<& position>>}{\href{<<& url>>}{<<& name>>}<<#note>> ({\footnotesize <<& .>>})<</note>>}{<<& location>>}{<<& startDate>> -- <<& endDate>>}
\begin{itemize}[leftmargin=*,itemsep=0pt,topsep=1pt]
<<#highlights>>
  \item <<& .>>
<</highlights>>
\end{itemize}
\vspace{2pt}
<</work>>
