{{=<< >>=}}
\begin{center}
  {\Huge\bfseries <<& name>>} \\ \vspace{3pt}
  \small
  \faPhone*\ \texttt{<<& phone>>} \hspace{1pt} $|$
  \hspace{1pt} \faEnvelope\ \href{mailto:<<& email>>}{\texttt{<<& email>>}} \hspace{1pt} $|$
  \hspace{1pt} \faGlobe\ \href{<<& website_url>>}{\texttt{<<& website_label>>}} \\[1pt]
  \faLinkedin\ \href{<<& linkedin_url>>}{\texttt{<<& linkedin_label>>}} \hspace{1pt} $|$
  \hspace{1pt} \faGithub\ \href{<<& github_url>>}{\texttt{<<& github_label>>}} \hspace{1pt} $|$
  \hspace{1pt} \faOrcid\ \href{<<& orcid_url>>}{\texttt{ORCID}}
  \\ \vspace{-3pt}
\end{center}
