{{=<< >>=}}
\begin{center}
  {\LARGE\bfseries <<& name>>}\\[4pt]
  \small
  \href{mailto:<<& email>>}{\faEnvelope\ <<& email>>}
  \textbar{}
  \href{<<& website_url>>}{\faGlobe\ <<& website_label>>}
  \textbar{}
  \href{<<& linkedin_url>>}{\faLinkedin\ <<& linkedin_label>>}
  \textbar{}
  \href{<<& github_url>>}{\faGithub\ <<& github_label>>}
  \textbar{}
  \href{<<& orcid_url>>}{\faOrcid\ ORCID}
\end{center}
\vspace{-6pt}
