{{=<< >>=}}
\begin{center}
  {\fontsize{18pt}{22pt}\selectfont\bfseries <<& name>>} \\[3pt]
  {\small
  <<& location>> \hspace{4pt}$|$\hspace{4pt}
  \href{mailto:<<& email>>}{<<& email>>} \hspace{4pt}$|$\hspace{4pt}
  \href{<<& website_url>>}{<<& website_label>>} \hspace{4pt}$|$\hspace{4pt}
  \href{<<& linkedin_url>>}{<<& linkedin_label>>} \hspace{4pt}$|$\hspace{4pt}
  \href{<<& github_url>>}{<<& github_label>>}}
\end{center}
\vspace{-6pt}
\noindent\rule{\linewidth}{0.4pt}
\vspace{-8pt}
