{{=<< >>=}}
\begin{enumerate}[leftmargin=*,itemsep=2pt,topsep=2pt]
<<#publications>>
  \item <<& authors>>. \textit{<<& title>>}. \textbf{<<& venue>>}, <<& year>>.
    \href{<<& paperUrl>>}{[Paper]}<<#codeUrl>>
    \href{<<& .>>}{[Code]}<</codeUrl>><<#demoUrl>>
    \href{<<& .>>}{[Demo]}<</demoUrl>>
<</publications>>
\end{enumerate}
