{{=<< >>=}}
\resumeSubHeadingListStart
<<#publications>>
  \resumeProjectHeading
    {\textbf{<<& title>>}}{<<& year>>}
  \resumeItemListStart
    \resumeItem{<<& authors>>. \textbf{<<& venue>>}.
      \href{<<& paperUrl>>}{[Paper]}<<#codeUrl>> \href{<<& .>>}{[Code]}<</codeUrl>><<#demoUrl>> \href{<<& .>>}{[Demo]}<</demoUrl>>}
  \resumeItemListEnd
<</publications>>
\resumeSubHeadingListEnd
