{{=<< >>=}}
\small
\textbf{Languages}{: <<& languages>>} \\
\textbf{ML / AI}{: <<& mlAi>>} \\
\textbf{Cloud \& DevOps}{: <<& cloudDevops>>} \\
\textbf{Web}{: <<& frontend>>, <<& backend>>} \quad \textbf{Databases}{: <<& databases>>}
