{{=<< >>=}}
\resumeSubHeadingListStart
<<#volunteer>>
  \resumeProjectHeading
    {\textbf{\href{<<& url>>}{<<& organization>>}} $|$ \textit{<<& role>>}}{<<& startDate>> -- <<& endDate>>}
  \resumeItemListStart
    \resumeItem{<<& summary>>}
  \resumeItemListEnd
<</volunteer>>
\resumeSubHeadingListEnd
